# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Foundatio.Redis.iml
# Editor-based HTTP Client requests
/httpRequests/
